<img src="assets/img/burger.jpeg"/>

<h2>Eat-Da-Burger!</h2>

<div class="container">
    <div class="row" id="row">
        <div class="col-3"></div>
        <div class="col-3 burgerBox">
            {{#each burgers}}
                {{#unless eaten}}
                    {{> burgers/burger-block eaten=true }}
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-3 burgerBox">
            {{#each burgers}}
                {{#if eaten}}
                    {{> burgers/burger-block eaten=false }}
                {{/if}}
            {{/each}}
        </div>
        <div class="col-3"></div>
    </div>
</div>

<h5>Add a Burger</h5>

<form>
    <textarea type="text" id="new-burger" name="new-burger"></textarea>
    <p><button class="submit">Submit</button></p>
</form>
