body {
    margin: 20px;
    text-align: center;
    background-color: rgba(212, 61, 41, 0.966);
}

img {
    height: 100px;
    margin: 10px;
}

container {
    margin: 0 auto;
}

#row {
    width: 100%;
    margin: 0;
}

.burgerBox {
    background: white;
    margin: 30px 10px;
    padding: 5px 10px;
}

p {
    margin-bottom: 5px;
}

.burger {
    text-align: left;
}

textarea {
    width: 30%;
}

button {
    background-color: #fadd92;
    border-color: #fadd92;
    border-radius: 5px;
    margin-top: 5px;
}